html, body, #filters {
  height: 100%;
}

#map {
  padding: 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

#wrapper {
  position: absolute;
  top: 60px;
  bottom: 20px;
  width: 940px;
  margin-left: -470px;
  left: 50%;
}
