html, body { height: 100%; background-color: #E1E5F6;  }

/* Hide frames around links on top menu */
#head-nav a, #type a, .brand { outline: none; }

#map-wrapper {
  padding: 0; height: 100%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

#map {
    height: 100%;
    position: relative;
    height: 100%;
    z-index: 0;
    border-radius: 4px 4px 4px 4px;
}

#searchbox { 
    position: absolute;
    left: 50px;
    height: 30px;
    margin: 10px;
    z-index: 1;
}

#searchbox input, #searchbox button { 
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
    border-radius: 0;
}
#searchbox input { width: 250px; }

/* Remove a dotted border around button in FF */
#searchbox button { outline: none; }

/* Wrapper includes map and filters divs
   This trick is aligning wrapper in center */
#wrapper {
  position: absolute;
  top: 60px;
  bottom: 20px;
}

#filters {
  height: 100%; padding: 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

/* Selector and trackbar rules */
#type {
  width: 100%;
  padding-left: 1px;
  border-bottom: 1px solid rgb(227, 227, 227);
}

#type li { width: 33.3%; text-align: center; }

#slider {
  height: 40px;
  display: table; width: 100%;
  border-bottom: 1px solid rgb(227, 227, 227);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

#start-hour, #end-hour {
  text-align: center;
  border: 0; font-weight: bold;
}

.time { width: 40px; }

#list {
  position: absolute;
  width: inherit;
  /* Navbar + Slider + 2 borders = 40+40+2 (px) */
  top: 82px;
  bottom: 0px;
  overflow: auto;
}

#slider table tr { vertical-align: middle; height: 40px; }
