html, body { height: 100%; background-color: #E1E5F6; }

/* Hide frames around links on top menu */
#head-nav a, #type a, .brand { outline: none; }

#map {
  padding: 0; height: 100%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

/* Wrapper includes map and filters divs
   This trick is aligning wrapper in center */
#wrapper {
  position: absolute;
  top: 60px;
  bottom: 20px;
  width: 96%;
  margin-left: -48%;
  left: 50%;
}

#filters {
  height: 100%; padding: 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

/* Selector and trackbar rules */
#type {
  width: 100%;
  border-bottom: 1px solid rgb(227, 227, 227);
}

#type li { width: 33.161%; text-align: center; }

#pedestrian {
  border-left: 1px solid rgb(227, 227, 227);
  border-right: 1px solid rgb(227, 227, 227);
}

#slider {
   height: 40px;
  display: table; width: 100%;
  border-bottom: 1px solid rgb(227, 227, 227);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

#start-hour, #end-hour {
  text-align: center;
  border: 0; font-weight: bold;
}

.time {
   width: 40px;
   vertical-align: middle;
}

#list {
  position: absolute;
  top: 82px;
  bottom: 0px;
  overflow: auto;
}
